{% extends 'base.html' %}
{% block body %}


<div class="container">

    <div class="row">

        <div class=" pt-3">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form method="post" class="p-3  add_task shadow form-control">
                            {% csrf_token %}

                            {{form.as_p}}
                            <div class="form-group">
                                <br>
                                <input type="submit" class="btn btn-done " value="UPDATE">
                            </div>
                        </form>


                    </div>
                </div>
            </div>


{% endblock %}